# rust
vendor/
target/

# node
node_modules/

# application
server/certs/*.pem
server/certs/*.crt
server/certs/*.csr
server/certs/*.key
server/certs/*.srl
server/server.toml
capture/capture.toml
storage/storage.toml

# others
core
